WORKHUB_ENV=production
MONGO_URI=mongodb+srv://workhub_user:CHANGE_ME@cluster.example.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=workhub
WORKHUB_JWT_SECRET=REPLACE_WITH_A_LONG_RANDOM_SECRET
WORKHUB_JWT_EXPIRE_HOURS=12
WORKHUB_BOOTSTRAP_SECRET=REPLACE_WITH_A_ONE_TIME_COMPANY_SETUP_CODE
WORKHUB_ALLOW_SELF_REGISTRATION=true
